.hole {
  width: 100px;
  height: 100px;
  background-color: burlywood;
  border: 1.5px solid brown;
  border-radius: 50%;
}

.container {
  display: inline-block;
}

.moleImage {
  width: 100px;
  height: 100px;
}

.gameBoard {
  cursor: pointer;
}
